html {
    font-size: 5vmin;
    font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "Noto", "Noto Regular", "Noto Sans CJK JP", "IPA Pゴシック","IPA PGothic", sans-serif;
}

div.note {
    font-size: 3vmin;
}

div.form {
    font-size: 4vmin;
}

input.r0, input.c0, input.t0, input.s0 {
    font-size: 4vmin;
    border: 0.4vmin solid black;
    border-radius: 1vmin;
}

input.c0, input.r0 {
    width: 4vmin;
    height: 4vmin;
}

#myLineChart, #mySpeedChart {
    border: 1px solid #ccc;
}

/* jquery demo */



/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -4em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 2em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch {
    width: 8.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 7em;
    width: 1.875em;
}
