{{template "preload.html" .}}
<body>
    <div data-role="page" data-dom-cache="false">
{{template "qchart_info.html" .}}
{{template "navbar.html"}}
        <div class="form">
            <p>イベント：{{.EventTitle}}</p>
            <form action="/dist" method="get">
                <div class="ui-field-contain">
                <label for="form-event">イベント</label>
                <select id="form-event" name="event">
                    {{range .EventAvailable}}
                    <option value="{{.Id}}" {{if .EventSelected}}selected="selected"{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
                </div>

                <div class="ui-field-contain">
                    <label for="form-snapshot">中間結果
                        <input type="radio" name="isfinal" id="form-snapshot" value="0" {{if not .IsFinal}}checked="checked"{{end}}>
                    </label>

                    <div class="ui-field-contain">
                        <div class="ui-field-contain">
                            <label for="form-date">日付</label>
                            <select id="form-date" name="date" id="date">
                                {{range .ListDate}}
                                        <option value="{{.Second}}" {{if .Selected}}selected="selected"{{end}}>{{.Text}}</option>{{end}}
                            </select>
                        </div>
                        <div class="ui-field-contain">
                            <label for="form-time">時刻</label>
                            <select id="form-time" name="time" id="time">
                                {{range .ListTimeOfDay}}
                                        <option value="{{.Second}}" {{if .Selected}}selected="selected"{{end}}>{{.Text}}</option>{{end}}
                            </select>
                        </div>
                    </div>

                    <label for="form-isfinal">最終結果 {{.FinalTime}}
                        <input type="radio" name="isfinal" id="form-isfinal" value="1" {{if .IsFinal}}checked="checked"{{end}}>
                    </label>
                </div>

                <input class="s0" type="submit" value="更新">
            </form>
        </div>
<div class="ui-grid-a ui-responsive">
<div class="ui-block-a" id="myDistChart">loading...</div>
<div class="ui-block-b" id="myScoreDistChart">loading...</div>
</div>
    </div>
</body>
{{template "postload.html"}}
