{{template "preload.html" .}}
        
<body>
    <div data-role="page" data-dom-cache="false">
{{template "navbar.html"}}
    <div class="ui-body">
        <div id="eventCalendar"></div>
        <div>現在時刻（JST） {{.NowJST}}</div>
        <div>イベント開催から {{.RunningTime}}</div>
        <div>イベント終了まで {{.RemainingTime}}</div>
        <table class="columns">
            <tr><td>event</td><td>start</td><td>second-half</td><td>end</td><td>duration</td></tr>
{{range .EventList}}
            <tr><td>{{.EventLink}}</td><td>{{.EventStart}}</td><td>{{.EventHalf}}</td><td>{{.EventEnd}}</td><td>{{.EventDuration}}</td></tr>{{end}}
        </table>
    </div>
    </div>
</body>
</html>
