<!DOCTYPE html>

<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="デレステ, イベントランキング, ボーダー, アイマス, アイドルマスターシンデレラガールズスターライトステージ">
    <title>デレステボーダーbotβ+</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jquery.mobile-1.4.5.min.css" />
    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/jquery.mobile-1.4.5.min.js"></script>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
currentPage = $("body").pagecontainer("getActivePage");
function setAspectRatio() {
    aratio = 0.75;
    if (($("#myLineChart", currentPage).length == 0) && ($("#mySpeedChart", currentPage).length == 0)) {
        
        return;
    }
    myLineChart = $("#myLineChart", currentPage);
    mySpeedChart = $("#mySpeedChart", currentPage);
    
    
    myLineChart.height(myLineChart.width() * aratio);
    mySpeedChart.height(mySpeedChart.width() * aratio);
}
$(window).on("pagecreate pageload pagechange pageshow throttledresize", function(e) {
    
    setAspectRatio();
});
dataurl = $("#dataurl", currentPage).text();

fancychart = $("#fancychart", currentPage).text();

if (fancychart == 0) {
    
} else {
    
}
google.charts.load('current', {packages: ['corechart', 'annotationchart']});
google.charts.setOnLoadCallback(drawLineChart);
google.charts.setOnLoadCallback(pageChange);
function pageChange() {
    
    $(window).on("pagechange", function() {
        drawLineChart();
        
    });
    
    $("body").on("pagecontainerload", function () {
        
        
    });
    $("body").on("pageshow", function () {
        
        
    });
    $(window).on("orientationchange", function() {
        drawLineChart();
        
    });
};



function updateLatestData() {
    currentPage = $("body").pagecontainer("getActivePage");
    latestdata = $("#latestdata", currentPage);
    if (latestdata.length == 0) {
        return;
    }
    jQuery.get("/latest_data", "", function (data) {
        latestdata.html(data);
    }, "text");
}
function drawLineChart() {
    updateLatestData();
    currentPage = $("body").pagecontainer("getActivePage");
    dataurl = $("#dataurl", currentPage).text();
    
    fancychart = $("#fancychart", currentPage).text();

    
    
    var size = {
        width: window.innerWidth || document.body.clientWidth,
        height: window.innerHeight || document.body.clientHeight,
    };
    size_min = Math.min(size.width, size.height);
    var options = {
        title: "累計",
        
        
        hAxis: {
            format: 'MM/dd HH:mm',
            gridlines: {count: 12}
        },
        vAxis: {
            minValue: 0,
            textPosition: 'in',
        },
        interpolateNulls: true,
        explorer: {maxZoomIn: 0.1},
        
        chartArea: {width: '100%', height: '65%'},
        legend: {position: 'top', alignment: 'center'},
    };
    var options_speed = $.extend({}, options);
    options_speed['interpolateNulls'] = false;
    options_speed['title'] = "時速";
    
    
    if (($("#myLineChart", currentPage).length == 0) && ($("#mySpeedChart", currentPage).length == 0)) {
        return;
    }
    myLineChart = $("#myLineChart", currentPage);
    mySpeedChart = $("#mySpeedChart", currentPage);
    
    setAspectRatio();
    
    
    var chart;
    var chart_speed;
    if (fancychart == 0) {
        chart = new google.visualization.LineChart(myLineChart.get(0));
        chart_speed = new google.visualization.LineChart(mySpeedChart.get(0));
    } else {
        chart = eval("new google.visualization.AnnotationChart(myLineChart.get(0))");
        chart_speed = eval("new google.visualization.AnnotationChart(mySpeedChart.get(0))");
    }

    $.getJSON(dataurl, "", function (data) {
        var data_list = [];
        for (t=0; t<2; t++) {
            dt = {"cols": [{"id":"timestamp","label":"timestamp","type":"datetime"}],
                "rows":[]}
            cur = data[t];
            
            
            for (i=0; i<cur[0].length; i++) {
                dt["cols"].push({"id":cur[0][i], "label":cur[0][i], "type":"number"})
            }
            
            for (i=1; i<cur.length; i++) {
                row = cur[i]
                    row_map = {"c":[{"v":new Date(row[0] * 1000)}]}
                for (j=1; j<row.length; j++) {
                    row_map["c"].push({"v": row[j]})
                }
                dt["rows"].push(row_map)
            }
            
            
            
            data_list[t] = dt;
        }

        var data_rank = new google.visualization.DataTable(data_list[0]);
        var data_speed = new google.visualization.DataTable(data_list[1]);
        
        
        chart.draw(data_rank, options);
        chart_speed.draw(data_speed, options_speed);
    })
}
    </script>
    </head>
<body>
    <div data-role="page" data-dom-cache="false">
<div id="dataurl" style="display:none;">/d?type=0&rank=120001&event=3010&</div>
<div id="fancychart" style="display:none;">0</div>
<div data-role="page"><div data-role="main" class="ui-content"><p><a href="..">ホームページ</a></p>

<form id="mform" action="#">
  <label for="flip-checkbox-1" class="ui-hidden-accessible">Flip toggle switch checkbox:</label>
  <input type="checkbox" data-role="flipswitch" data-on-text="score" data-off-text="pt" data-wrapper-class="custom-size-flipswitch" name="flip-checkbox-1" id="flip-checkbox-1">
</form>
<div>
	<div id="myLineChart">aa</div>
	<div id="mySpeedChart" style="display:none">bb</div></div>
<script type="text/javascript">

function setMForm () {
  $("#mform").on("change", function() {
  console.log("changemform");
  var cv = $("#flip-checkbox-1").get(0).checked;
  console.log(cv);
  currentPage = $("body").pagecontainer("getActivePage");
  if (cv) {
	  $("#myLineChart", currentPage).css("display","none");
	  $("#mySpeedChart", currentPage).css("display","block");
  } else {
	  $("#mySpeedChart", currentPage).css("display","none");
	  $("#myLineChart", currentPage).css("display","block");
  }
  });
}

//$("body").on("beforeshow", setMForm);
$("body").on("pagechange", setMForm);
setMForm();

</script>
</div></div>
    </div>
</body>
</html>
