<!DOCTYPE html>
<!-- <html lang="ja"> // related to font bug? -->
<html class="twc">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="デレステ, イベントランキング, ボーダー, アイマス, アイドルマスターシンデレラガールズスターライトステージ">
    {{template "twitter_card_tag.html" .}}
    <title>デレステボーダーbotβ+</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jquery.mobile-1.4.5.min.css" />
    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
currentPage = $("body").pagecontainer("getActivePage");
function setAspectRatio_i(elem) {
    aratio = 0.75;
    if (elem.length > 0) {
        elem.height(elem.width() * aratio);
    }
}

function setAspectRatio() {
}

function tzFormatter() {
    return new google.visualization.DateFormat({
        //formatType: "medium",
        pattern: "yyyy M-d, HH:mm",
        timeZone: 9,
    });
}

function tzFormatter2() {
    return new google.visualization.DateFormat({
        pattern: "MM-dd",
        timeZone: 9,
    });
}

function tzFloor(d) {
    // d is a Date object
    var day = 86400 * 1000;
    var offset = 9 * 3600 * 1000;
    var newv = Math.floor((d.valueOf() + offset) / day) * day - offset;
    return new Date(newv);
}

function tzNext(d) {
    var day = 86400 * 1000;
    return new Date(d.valueOf() + day);
}

$(window).on("pagecreate pageload pagechange pageshow throttledresize", function(e) {
    //console.log("pagecreate/throttledresize", e);
    setAspectRatio();
});
dataurl = $("#dataurl", currentPage).text();
fancychart = $("#fancychart", currentPage).text();
// packages 'corechart' 'annotationchart'
// 'line' for material design
//google.charts.load('current', {packages: ['corechart', 'annotationchart']});
google.charts.load('current', {packages: ['corechart']});
google.charts.setOnLoadCallback(drawChart);
google.charts.setOnLoadCallback(pageChange);
function pageChange() {
    //console.log("pagechange");
    $(window).on("pagechange", function() {
        drawChart();
        //console.log("pagechange");
    });
    //$("body").pagecontainer()
    $("body").on("pagecontainerload", function () {
        //console.log("pagecontainerload");
    });
    $("body").on("pageshow", function () {
        //console.log("pageshow");
    });
    $(window).on("orientationchange", function() {
        drawChart();
        //console.log("orientationchange");
    });
};
// for twitter card
function drawChart() {
    currentPage = $("body").pagecontainer("getActivePage");
    dataurl = $("#dataurl", currentPage).text();
    eventTitle = $("#eventtitle", currentPage).text();
    fancychart = $("#fancychart", currentPage).text();
    var options = {
        title: eventTitle + " 12万位ボーダー",
        hAxis: {
            format: 'MM/dd HH:mm',
            gridlines: {count: 12}
        },
        vAxis: {
            minValue: 0,
            textPosition: 'in',
        },
        series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1},
        },
        vAxes: {
            0: {title: '累計'},
            1: {title: '時速'},
        },
        interpolateNulls: true,
        explorer: {maxZoomIn: 0.1},
        chartArea: {width: '100%', height: '65%'},
        legend: {position: 'top', alignment: 'center'},
    };
    myTWCChart = $("#myTWCChart", currentPage);
    //console.log("twc chart function");
    if (myTWCChart.length == 0) {
        return;
    }
    //setAspectRatio_i(myTWCChart);
    chart = new google.visualization.LineChart(myTWCChart.get(0));
    $.getJSON(dataurl, "", function (data) {
        var data_list = [];
        plot_label = ["pt", "時速"];
        // loop-1?
        for (t=0; t<1; t++) {
            dt = {"cols": [{"id":"timestamp","label":"time","type":"datetime"}],
                "rows":[]};
            // cols
            dt["cols"].push({"id":plot_label[t], "label":plot_label[t], "type":"number"});
            dt["cols"].push({"id":plot_label[t+1], "label":plot_label[t+1], "type":"number"});
            // data[0]: [ [x, y], [x, y], ... [] ]
            cur = data[t];
            // data[1]
            cur2 = data[t+1];
            // rows
            // skip 1
            for (i=1; i<cur.length; i++) {
                row = cur[i];
                row2 = cur2[i];
                row_map = {"c": [{"v": new Date(row[0]*1000)}, {"v": row[1]}, {"v": row2[1]}]};
                dt["rows"].push(row_map);
            }
            // t=0: dt: ranklist
            // t=1: dt: speedlist
            data_list[t] = dt;
        }
        var data = new google.visualization.DataTable(data_list[0]);
        var tzf = tzFormatter();
        var tzf2 = tzFormatter2();
        tzf.format(data, 0);
        var xTicks = [];
        xRange = data.getColumnRange(0);
        var tick0 = tzFloor(xRange.min);
        if ( tick0 - xRange.min < 0 ) {
            tick0 = tzNext(tick0);
        }
        for (var t = tick0; t - xRange.max <= 0; t = tzNext(t)) {
            xTicks.push({
                v: t,
                f: tzf2.formatValue(t),
            });
        }
        options.hAxis.ticks = xTicks;
        chart.draw(data, options);
    });
}
    </script>
    </head>
