<!DOCTYPE html>
<!-- <html lang="ja"> // related to font bug? -->
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="デレステ, イベントランキング, ボーダー, アイマス, アイドルマスターシンデレラガールズスターライトステージ">
    <link rel="shortcut icon" href="/static/favicon.png">
    {{template "twitter_card_tag.html" .TwitterCardURL}}
    <title>デレステボーダーbotβ+</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jquery.mobile-1.4.5.min.css" />
    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/jquery.mobile-1.4.5.min.js"></script>
    <!--<script type="text/javascript" src="/static/date-1.0.0.min.js"></script>-->
    <script type="text/javascript" src="/static/date.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
currentPage = $("body").pagecontainer("getActivePage");
function setAspectRatio_i(elem) {
    aratio = 0.75;
    if (elem.length > 0) {
        elem.height(elem.width() * aratio);
    }
}

function setAspectRatio() {
    setAspectRatio_i($("#myLineChart", currentPage));
    setAspectRatio_i($("#mySpeedChart", currentPage));

    myDistChart = $("#myDistChart", currentPage);
    myScoreDistChart = $("#myScoreDistChart", currentPage);
    setAspectRatio_i(myDistChart);
    setAspectRatio_i(myScoreDistChart);
}

// JST datetime formatters
function tzFormatter() {
    return new google.visualization.DateFormat({
        //formatType: "medium",
        pattern: "yyyy M-d, HH:mm",
        timeZone: 9,
    });
}

function tzFormatter2() {
    return new google.visualization.DateFormat({
        pattern: "MM-dd",
        timeZone: 9,
    });
}

// truncate to day in JST
function tzFloor(d) {
    // d is a Date object
    var day = 86400 * 1000;
    var offset = 9 * 3600 * 1000;
    var newv = Math.floor((d.valueOf() + offset) / day) * day - offset;
    return new Date(newv);
}

// next day
function tzNext(d) {
    var day = 86400 * 1000;
    return new Date(d.valueOf() + day);
}

$(window).on("pagecreate pageload pagechange pageshow throttledresize", function(e) {
    //console.log("pagecreate/throttledresize", e);
    setAspectRatio();
});
dataurl = $("#dataurl", currentPage).text();
fancychart = $("#fancychart", currentPage).text();
// packages 'corechart' 'annotationchart'
// 'line' for material design
// 'calendar' for event date calendar
google.charts.load('current', {packages: ['corechart', 'annotationchart', 'calendar']});
google.charts.setOnLoadCallback(drawChart);
google.charts.setOnLoadCallback(pageChange);
function drawChart() {
    drawLineChart();
    drawDistChart();
    drawEventChart();
}

function pageChange() {
    $(window).on("pagechange", function() {
        drawChart();
        //console.log("pagechange");
    });
    //$("body").pagecontainer()
    $("body").on("pagecontainerload", function () {
        //drawLineChart();
        //console.log("pagecontainerload");
    });
    $("body").on("pageshow", function () {
        //drawLineChart();
        //console.log("pageshow");
    });
    $(window).on("orientationchange", function() {
        drawChart();
        //console.log("orientationchange");
    });
};
// doesn't work
//$("#myLineChart").html("");
//$("#mySpeedChart").html("");
function updateLatestData() {
    currentPage = $("body").pagecontainer("getActivePage");
    latestdata = $("#latestdata", currentPage);
    if (latestdata.length == 0) {
        return;
    }
    jQuery.get("/latest_data", "", function (data) {
        latestdata.html(data);
    }, "text");
}
function drawLineChart() {
    updateLatestData();
    currentPage = $("body").pagecontainer("getActivePage");
    dataurl = $("#dataurl", currentPage).text();
    fancychart = $("#fancychart", currentPage).text();
    rankingType = $("#rankingtype", currentPage).text();

    var options = {
        title: "累計",
        hAxis: {
            // format and gridlines are overridden by ticks
            format: 'MM/dd HH:mm Z',
            gridlines: {count: 15},
            textPosition: "out",
        },
        vAxis: {
            minValue: 0,
            textPosition: 'in',
        },
        interpolateNulls: true,
        explorer: {maxZoomIn: 0.1},
        chartArea: {width: '100%', height: '65%'},
        legend: {position: 'top', alignment: 'center'},
    };
    var options_speed = $.extend({}, options);
    options_speed['interpolateNulls'] = false;
    options_speed['title'] = "時速";
    if (rankingType == "1") {
        console.log("set logScale");
        options_speed.vAxis.logScale = true;
    } else {
        console.log("no set logScale");
    }

    if (($("#myLineChart", currentPage).length == 0) && ($("#mySpeedChart", currentPage).length == 0)) {
        return;
    }
    // FIXME: redirect to time_compare based on url
    if (document.documentURI.indexOf("time_compare") > 0) {
        drawTimeCompareChart();
        return;
    }
    myLineChart = $("#myLineChart", currentPage);
    mySpeedChart = $("#mySpeedChart", currentPage);
    setAspectRatio();
    var chart;
    var chart_speed;
    if (fancychart == 0) {
        chart = new google.visualization.LineChart(myLineChart.get(0));
        chart_speed = new google.visualization.LineChart(mySpeedChart.get(0));
        // try material design
        //chart_speed = new google.charts.Line(mySpeedChart.get(0));
    } else {
        chart = eval("new google.visualization.AnnotationChart(myLineChart.get(0))");
        chart_speed = eval("new google.visualization.AnnotationChart(mySpeedChart.get(0))");
    }

    $.getJSON(dataurl, "", function (data) {
        var data_list = [];
        for (t=0; t<2; t++) { // loop: t=0, t=1
            dt = {"cols": [{"id":"timestamp","label":"timestamp","type":"datetime"}],
                "rows":[]}
            cur = data[t];
            // cols: cur[0] contains column labels
            for (i=0; i<cur[0].length; i++) {
                dt["cols"].push({"id":cur[0][i], "label":cur[0][i], "type":"number"})
            }
            // rows
            for (i=1; i<cur.length; i++) {
                row = cur[i]
                    row_map = {"c":[{"v":new Date(row[0] * 1000)}]}
                for (j=1; j<row.length; j++) {
                    row_map["c"].push({"v": row[j]})
                }
                dt["rows"].push(row_map)
            }
            // t=0: dt: ranklist
            // t=1: dt: speedlist
            data_list[t] = dt;
        }

        var data_rank = new google.visualization.DataTable(data_list[0]);
        var data_speed = new google.visualization.DataTable(data_list[1]);

        // timezone correction
        var tzf = tzFormatter();
        var tzf2 = tzFormatter2();
        tzf.format(data_rank, 0);
        tzf.format(data_speed, 0);
        var xTicks = [];
        xRange = data_rank.getColumnRange(0);
        var tick0 = tzFloor(xRange.min);
        if ( tick0 - xRange.min < 0 ) {
            tick0 = tzNext(tick0);
        }
        for (var t = tick0; t - xRange.max <= 0; t = tzNext(t)) {
            xTicks.push({
                v: t,
                f: tzf2.formatValue(t),
            });
        }

        // http://stackoverflow.com/questions/28764143/formatting-timezone-of-google-charts-datetime-axis-labels
        /*for (var i = 0; i < data_rank.getNumberOfRows(); i++) {
            xTicks.push({
                v: data_rank.getValue(i, 0),
                f: data_rank.getFormattedValue(i, 0),
            });
        }*/
        options["hAxis"]["ticks"] = xTicks;

        chart.draw(data_rank, options);
        chart_speed.draw(data_speed, options_speed);
    })
}

function drawDistChart() {
    setAspectRatio();
    currentPage = $("body").pagecontainer("getActivePage");
    timestamp = $("#timestamp", currentPage).text();
    rankingType = $("#rankingtype", currentPage).text();
    var options = {
        hAxis: {
            title: "rank",
            minValue: 0,
            gridlines: {count: 10},
            format: 'short',
            logScale: true,
            viewWindow: {},
        },
        vAxis: {
            minValue: 0,
            textPosition: 'in',
            logScale: false,
            format: 'short',
            //gridlines: {count: 5},
            //minorGridlines: {count: 1},
            //viewWindow: {min: 1},
        },
        series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1},
        },
        vAxes: {
            0: {title: 'pt'},
            1: {title: 'pt密度'},
        },
        interpolateNulls: true,
        explorer: {maxZoomIn: 0.1},
        chartArea: {width: '100%', height: '65%'},
        legend: {position: 'top', alignment: 'center'},
    };
    var options_score = $.extend({}, options);
    options_score.vAxis = $.extend({}, options.vAxis);
    options_score.vAxes = $.extend({}, options.vAxes);

    options.vAxis.logScale = true;
    options.title = "pt";
    options.hAxis.viewWindow.max = 320000;
    options_score.vAxis.logScale = false;
    options_score.title = "score";
    myDistChart = $("#myDistChart", currentPage);
    myScoreDistChart = $("#myScoreDistChart", currentPage);
    if (myDistChart.length == 0) {
        return;
    }
    // originally: depending on the presence of certain ids for divs
    // FIXME: redirect to dist_compare based on url
    if (document.documentURI.indexOf("dist_compare") > 0) {
        drawDistCompareChart();
        return;
    }
    ddataurl = "/d_dist?t=" + timestamp;
    $.getJSON(ddataurl, "", function (data) {
        var data_list = [];
        plot_label = ["pt", "score", "rank/pt（pt密度）", "rank/score（スコア密度）"];
        for (t=0; t<2; t++) {
            dt = {"cols": [{"id":"timestamp","label":"rank","type":"number"}],
                "rows":[]}
            // cols
            dt["cols"].push({"id":plot_label[t], "label":plot_label[t], "type":"number"});
            // FIXME: disable density
            //dt["cols"].push({"id":plot_label[t+2], "label":plot_label[t+2], "type":"number"});
            cur = data[t];
            cur2 = data[t+2];
            // rows
            for (i=0; i<cur.length; i++) {
                row = cur[i];
                row2 = cur2[i];
                // FIXME: disable density
                //row_map = {"c": [{"v": row[0]}, {"v": row[1]}, {"v": row2[1]}]};
                row_map = {"c": [{"v": row[0]}, {"v": row[1]}]};
                dt["rows"].push(row_map);
            }
            // t=0: dt: ranklist
            // t=1: dt: speedlist
            data_list[t] = dt;
        }

        var data_pt = new google.visualization.DataTable(data_list[0]);
        var data_score = new google.visualization.DataTable(data_list[1]);
        chart = new google.visualization.LineChart(myDistChart.get(0));
        chart_score = new google.visualization.LineChart(myScoreDistChart.get(0));
        chart.draw(data_pt, options);
        chart_score.draw(data_score, options_score);
        options.title = "pt密度";
        options_score.title = "スコア密度";
    })
}

function drawTimeCompareChart() {
    var myUri = document.documentURI;
    setAspectRatio();
    currentPage = $("body").pagecontainer("getActivePage");
    var options = {
        hAxis: {
            title: "time",
            //minValue: 0.92,
            //gridlines: {count: 10},
            //format: 'short',
            //viewWindow: {max: 320000},
        },
        vAxis: {
            //minValue: 0,
            textPosition: 'in',
            logScale: false,
            format: 'short',
            //gridlines: {count: 5},
            //minorGridlines: {count: 1},
            //viewWindow: {min: 8000},
        },
        series: {
            0: {targetAxisIndex: 0},
        },
        vAxes: {
            0: {title: 'pt'},
        },
        interpolateNulls: true,
        explorer: {maxZoomIn: 0.1},
        chartArea: {width: '100%', height: '65%'},
        legend: {position: 'top', alignment: 'center'},
    };
    options.lineWidth = 0;
    options.pointSize = 2;

    console.log("myUri");
    console.log(myUri);

    myLineChart = $("#myLineChart", currentPage);
    if (myLineChart.length == 0) {
        console.log("FATAL ERROR");
        return;
    }
    ddataurl = "/d2?rank=120001&event=1013&event=1016";
    ddataurl2 = "/d2?" + $("#dataurlv2", currentPage).text();
    console.log("ddataurl2 is ", ddataurl2);

    var core = function (data) {
        //plot_label = [eventName1, eventName2, eventName3, eventName4];
        var table0 = new google.visualization.DataTable();
        isFirst = 1;
        for (var eventName in data) {
            var table1 = new google.visualization.DataTable();
            table1.addColumn('number', 'Time');
            table1.addColumn('number', eventName);
            table1.addRows(data[eventName]);

            if (isFirst != 1) {
                table0 = google.visualization.data.join(table0, table1, 'full', [[0, 0]], [1], [1]);
            } else {
                table0 = table1;
                isFirst = 0;
            }
        }
        chart = new google.visualization.LineChart(myLineChart.get(0));
        //console.log(data_list[0]);
        //console.log(JSON.stringify(data_list[0]));
        chart.draw(table0, options);
    };
    $.getJSON(ddataurl2, "", core);
}

// FIXME
// do more on javascript side
function drawDistCompareChart() {
    var myUri = document.documentURI;
    setAspectRatio();
    currentPage = $("body").pagecontainer("getActivePage");
    var options = {
        hAxis: {
            title: "rank",
            minValue: 0.92,
            gridlines: {count: 10},
            format: 'short',
            viewWindow: {max: 320000},
        },
        vAxis: {
            minValue: 0,
            textPosition: 'in',
            logScale: true,
            format: 'short',
            //gridlines: {count: 5},
            //minorGridlines: {count: 1},
            viewWindow: {min: 8000},
        },
        series: {
            0: {targetAxisIndex: 0},
        },
        vAxes: {
            0: {title: 'pt'},
        },
        interpolateNulls: true,
        explorer: {maxZoomIn: 0.1},
        chartArea: {width: '100%', height: '65%'},
        legend: {position: 'top', alignment: 'center'},
    };
    options.lineWidth = 0;
    options.pointSize = 2;

    console.log("myUri");
    console.log(myUri);
    if (myUri.indexOf("hlog") > 0) {
        console.log("set hlog");
        options.hAxis.logScale = true;
        //options.hAxis.scaleType = 'mirrorLog';
    }

    myDistChart = $("#myDistChart", currentPage);
    eventName1 = "ラブレター";
    ddataurl1 = "/d_dist?t=1474945320";
    eventName2 = "命燃やして恋せよ乙女";
    ddataurl2 = "/d_dist?t=1484017320";
    eventName3 = "あんきら ! ？狂騒曲";
    ddataurl3 = "/d_dist?t=1482894120";
    eventName4 = "Lunatic Show";
    ddataurl4 = "/d_dist?t=1485572520";
    //eventName3 = ""
    var core = function (data1, data2, data3, data4) {
        var data_list = [];
        plot_label = [eventName1, eventName2, eventName3, eventName4];
        // t == 0
        for (t=0; t<1; t++) {
            dt = {"cols": [{"id":"rank","label":"rank","type":"number"}],
                "rows":[]}
            // cols
            dt["cols"].push({"id":plot_label[0], "label":plot_label[0], "type":"number"});
            dt["cols"].push({"id":plot_label[1], "label":plot_label[1], "type":"number"});
            dt["cols"].push({"id":plot_label[2], "label":plot_label[2], "type":"number"});
            dt["cols"].push({"id":plot_label[3], "label":plot_label[3], "type":"number"});
            cur1 = data1[t];
            cur2 = data2[t];
            cur3 = data3[t];
            cur4 = data4[t];
            //cur2 = data[t+2];
            var rankMap = new Map();

            // rows
            for (i=0; i<cur1.length; i++) {
                row = cur1[i];
                rankMap.set(row[0], [row[1]]);
                console.log("here01");
            }
            for (i=0; i<cur2.length; i++) {
                row = cur2[i];
                orig = rankMap.get(row[0]);
                if (orig != undefined) {
                } else {
                    orig = [null];
                }
                orig.push(row[1]);
                rankMap.set(row[0], orig);
            }
            for (i=0; i<cur3.length; i++) {
                row = cur3[i];
                orig = rankMap.get(row[0]);
                if (orig != undefined) {
                } else {
                    orig = [null, null];
                }
                orig.push(row[1]);
                rankMap.set(row[0], orig);
            }
            for (i=0; i<cur4.length; i++) {
                row = cur4[i];
                orig = rankMap.get(row[0]);
                if (orig != undefined) {
                } else {
                    orig = [null, null, null];
                }
                orig.push(row[1]);
                rankMap.set(row[0], orig);
            }
            console.log(JSON.stringify(rankMap));
            console.log(rankMap);

            for (var [rank, row] of rankMap)
            {
                row_map = {"c": [
                    {"v": rank},
                    {"v": row[0]},
                    {"v": row[1]},
                    {"v": row[2]},
                    {"v": row[3]}
                ]};
                dt["rows"].push(row_map);
            }
            // t=0: dt: ranklist
            // t=1: dt: speedlist
            data_list[t] = dt;
        }
        var data_pt = new google.visualization.DataTable(data_list[0]);
        chart = new google.visualization.LineChart(myDistChart.get(0));
        //console.log(data_list[0]);
        //console.log(JSON.stringify(data_list[0]));
        chart.draw(data_pt, options);
    };
    $.getJSON(ddataurl1, "", function (data1) {
            $.getJSON(ddataurl2, "", function (data2) {
                $.getJSON(ddataurl3, "", function (data3) {
                    $.getJSON(ddataurl4, "", function (data4) {
                        core(data1, data2, data3, data4);
                    });
                });
            });
    });

}

function drawEventChart() {
    currentPage = $("body").pagecontainer("getActivePage");
    myEventChart = $("#eventCalendar", currentPage);
    if (myEventChart.length == 0) {
            return;
    }
    dataurl = "/d_event";
    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn({ type: 'date', id: 'datetime' });
    dataTable.addColumn({ type: 'number', id: 'status' });
    dataTable.addColumn({ type: 'string', id: 'event', role: 'tooltip' });
    $.getJSON(dataurl, "", function (data) {
        for (i=0; i<data.length; i++) {
            // Get browser timezone, replace it with JST offset.
            d = new Date(data[i]['t']*1000);
            // getTimezoneOffset is builtin?
            var o1 = d.getTimezoneOffset();
            var o2 = 9;
            var o3 = (- o1 * 2 / 60 - o2) * 100;

            // setTimezoneOffset is in date.js
            //d.setTimezoneOffset("+0900");
            d.setTimezoneOffset(o3);
            dataTable.addRows([ [ d, data[i]['status'], data[i]['tooltip'] ] ]);
        }

       var chart = new google.visualization.Calendar(myEventChart.get(0));

       var options = {
         title: "イベント一覧",
         //height: 350,
         calendar: {cellSize: 11},
         colorAxis: {
            colors: ['blue', 'blue', 'blue', 'yellow'],
            values: [0, 5, 10, 15]
            },
         legend: {position: 'none'},
         tooltip: {isHtml: false},
       };
       options['calendar']['cellSize'] = $(window).width() / 60;

       var tzf = tzFormatter();
       var tzf2 = tzFormatter2();
       tzf.format(dataTable, 0);
       chart.draw(dataTable, options);
    });
}
    </script>
    </head>
