{{template "preload.html" .}}
<body>
    <div data-role="page" data-dom-cache="false">
{{template "qchart_info.html" .}}
{{template "navbar.html"}}
        <div class="form">
            <p>イベント：{{.EventTitle}}</p>
            <p>customized border graph：</p>
            <form action="qchart" method="get">

                <div class="ui-field-contain">
                <label for="textinput-rank"><strong>順位：</strong></label>
                <input class="t0" id="textinput-rank" type="text" name="rank" size=35 value="{{.PrefillRank}}">
                </div>

                <!--<input type="hidden" name="event" value="{{.PrefillEvent}}">-->

                <select name="event">
                    {{range .EventAvailable}}
                    <option value="{{.Id}}" {{if .EventSelected}}selected="selected"{{end}}>{{.Name}}</option>
                    {{end}}
                </select>

                <label for="radio-pt">イベントpt
                <input class="r0" id="radio-pt" type="radio" name="type" value="0" {{ index .PrefillCheckedType 0 }}>
                </label>

                <label for="radio-score">ハイスコア
                <input class="r0" id="radio-score" type="radio" name="type" value="1" {{ index .PrefillCheckedType 1 }}>
                </label>

                <label for="checkbox-achart">AnnotationChart
                <input class="c0" id="checkbox-achart" type="checkbox" name="achart" value="1" {{ .PrefillAChart }}>
                </label>

                <input class="s0" type="submit" value="更新">
            </form>
        </div>
        {{template "chart_snippet.html"}}
        <div class="note">
            <p>表示できる順位<br>
            イベントpt：{{index .AvailableRank 0}}<br>
            ハイスコア：{{index .AvailableRank 1}}
            </p>
        </div>
        <div class="note"><p>javascript library from <code>https://www.gstatic.com/charts/loader.js</code></p>
        </div>
    </div>
</body>
{{template "postload.html"}}
